body {
    background: url("images/Background1.png") center 0 no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

nav {
    margin: 20px 0 20px 0;
}

nav a, .third-row, h3, h4, label, .contacts, .contact-p {
    text-transform: uppercase;
    color: white;
    padding: 1px;
}

nav a {
    border-bottom: 1px solid rgba(255,255,255, 0);
}

    nav li a:visited {
        color: white;
    }

    nav li a:hover {
        border-bottom: solid 1px white;
        color: white;
    }

    nav li a:active {
       color: white;
    }

.third-row {
    margin-top: -20px;
    margin-bottom: -16px;
    font-size: 60px
}

.first-row {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: white
}

h3 {
    font-weight: normal;
}

.fourth-row {
    margin-bottom: 60px;
}

.fifth-row {
    margin-top: 80px;
    margin-bottom: 280px;
}

.header-link {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid rgba(255,255,255, 0);
    border-top: 1px solid rgba(255,255,255, 0);
    padding-bottom: 2px;
    text-decoration: none;
}
    .header-link:visited {
        color: white;
        text-decoration: none;       
    }

    .header-link:hover {
        text-decoration: none;
        color: white;
        border-bottom: solid 1px white;
        border-top: solid 1px white;
    }

    .header-link:active {
        color: white;
        text-decoration: none;
    }

h4 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.letter, .about-me, .contact-headline, .portfolio-header {
    text-align: center;
}

.about-me {
    margin: 60px 0 150px 0;
}

p {
    margin: 0;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.header-h {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
}

.about-h, .portfolio-header {
    padding-top: 20px;
}

.bio-image {
    max-width: 270px;
}

.bio-row {
    padding: 10px;
    text-align: left
}

.bioP {
    color: white;
}

.modal-content {
    background-color: lightgray;
}

#modal-image:hover {
    cursor: pointer;
}

.portfolio-links {
    margin: 80px 0 500px 0;
}

form {
    margin: 20px 0 40px 0;
}

.footer {
    margin-top: 70px;
    margin-bottom: 20px;
    color: white;
}

hr {
    background-color: white;
}

.contacts-row {
    margin-top: 70px;
}

#formModal {
    color: black;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    padding: 5px 10px 10px 10px;
}